@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-3xl
}

h2 {
    @apply text-xl
}

h4 {
    @apply text-2xl text-jaune font-semibold
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-gabo-drive
}

p {
    @apply font-roboto text-sm
}

li {
    @apply text-sm my-2
}

@layer base {
    .responsivetext {
        @apply md:text-lg lg:text-xl;
    }
}
:root {
    --couleur-text: #FBBF24;
    --couleur-fond: #FEFFB8;
    --couleur-interactive: #B45309;
}


@media (prefers-color-scheme: dark) {
    :root {
        --couleur-fond: #B45309;
        --couleur-interactive: #6B2E00; 
    }
}